#output {
  display: none;
  text-align: left;
}

img {
  float: left;
  width: 538px;
  height: 350px;
  margin-right: 30px;
}



body {
  text-align: center;
}

span {
  margin: 30px;
  text-align: left;
}

.imgwrap {
  padding: 20px;
}

.btn {
  margin-bottom: 50px;
}

.form-group .container {
  text-align: left;
}
